				<link rel="stylesheet" href="__PUBLIC__/ace/assets/css/select2.css" />
				<div class="page-content">
					<div class="page-header position-relative">
						<h1>
							用户管理
							<small>
								<i class="icon-double-angle-right"></i>
								添加用户
							</small>
						</h1>
					</div><!--/.page-header-->

					<div class="row-fluid">
						<div class="span12">
							<!--PAGE CONTENT BEGINS-->
							

							<div class="row-fluid">
								<div class="span12">
									<div class="widget-box">
										<div class="widget-header widget-header-blue widget-header-flat">
											<h4 class="lighter">填写用户信息</h4>

											
										</div>

										<div class="widget-body">
											<div class="widget-main">
												<div class="row-fluid">
												
													<div class="step-content row-fluid position-relative" id="step-container">
														<div class="step-pane active" id="step1">
															<h3 class="lighter block green">在下面输入用户信息</h3>

															<form  id="validation-form" method="post" action="{:U('save')}" />
																<div class="control-group">
																	<label class="control-label" for="username">用户名:</label>

																	<div class="controls">
																		<div class="span12">
																			<input type="text" name="username" id="username" class="span4" value="{$admin.username}" />
																		</div>
																	</div>
																</div>

																<div class="control-group">
																	<label class="control-label" for="password">密码:</label>

																	<div class="controls">
																		<div class="span12">
																			<input type="password" name="password" id="password" class="span4" />
																		</div>
																	</div>
																</div>

																<div class="control-group">
																	<label class="control-label" for="password2">确认密码:</label>

																	<div class="controls">
																		<div class="span12">
																			<input type="password" name="password2" id="password2" class="span4" />
																		</div>
																	</div>
																</div>
																
																<div class="control-group">
																	<label class="control-label" for="email">邮箱:</label>

																	<div class="controls">
																		<div class="span12">
																			<input type="email" name="email" id="email" class="span4" value="{$admin.email}" />
																		</div>
																	</div>
																</div>
																<input type="hidden" name="id" value="{$admin.id}"/>
															
														</div>

														
													</div>

													<hr />
													<div class="form-actions">
														<button type="submit" class="btn btn-info">
														<i class="icon-ok bigger-110"></i>
															提交
															</button>

																	&nbsp; &nbsp; &nbsp;
														<button type="reset" class="btn">
														<i class="icon-undo bigger-110"></i>
															重置
														</button>
														</div>
													</form>
												</div>
											</div><!--/widget-main-->
										</div><!--/widget-body-->
									</div>
								</div>
							</div>

							<!--PAGE CONTENT ENDS-->
						</div><!--/.span-->
					</div><!--/.row-fluid-->
				</div><!--/.page-content-->

				


		<!--page specific plugin scripts-->

		<script src="__PUBLIC__/ace/assets/js/fuelux/fuelux.wizard.min.js"></script>
		<script src="__PUBLIC__/ace/assets/js/jquery.validate.min.js"></script>
		<script src="__PUBLIC__/ace/assets/js/additional-methods.min.js"></script>
		<script src="__PUBLIC__/ace/assets/js/bootbox.min.js"></script>
		<script src="__PUBLIC__/ace/assets/js/jquery.maskedinput.min.js"></script>
		<script src="__PUBLIC__/ace/assets/js/select2.min.js"></script>

		<!--inline scripts related to this page-->

		<script type="text/javascript">
			$(function() {
			
				$('#validation-form').validate({
					errorElement: 'span',
					errorClass: 'help-inline',
					focusInvalid: false,
					rules: {
						username: {
							required: true,
						},
						password: {
							required: true,
							minlength: 5
						},
						password2: {
							required: true,
							minlength: 5,
							equalTo: "#password"
						},
						email: {
							required: true
						},
						
					},
			
					messages: {
						username:{
							required:"请输入用户名",
						},
						email: {
							required: "请输入邮箱.",
							email: "邮箱格式不正确."
						},
						password: {
							required: "请输入密码.",
							minlength: "密码长度需大于5."
						},
						password2:"两次输入的密码不一致",
					},
			
					invalidHandler: function (event, validator) { //display error alert on form submit   
						$('.alert-error', $('.login-form')).show();
					},
			
					highlight: function (e) {
						$(e).closest('.control-group').removeClass('info').addClass('error');
					},
			
					success: function (e) {
						$(e).closest('.control-group').removeClass('error').addClass('info');
						$(e).remove();
					},
			
					errorPlacement: function (error, element) {
						if(element.is(':checkbox') || element.is(':radio')) {
							var controls = element.closest('.controls');
							if(controls.find(':checkbox,:radio').length > 1) controls.append(error);
							else error.insertAfter(element.nextAll('.lbl:eq(0)').eq(0));
						}
						else if(element.is('.select2')) {
							error.insertAfter(element.siblings('[class*="select2-container"]:eq(0)'));
						}
						else if(element.is('.chzn-select')) {
							error.insertAfter(element.siblings('[class*="chzn-container"]:eq(0)'));
						}
						else error.insertAfter(element);
					},
			
					
				});
			
				$('#modal-wizard .modal-header').ace_wizard();
				$('#modal-wizard .wizard-actions .btn[data-dismiss=modal]').removeAttr('disabled');
			})
		</script>

